.card-container {
    width: 75vw;
    height: auto;
    margin: auto;
}

.card {
    position: relative; /* All others will be absolutely positioned to card */
    background-color:  #b2dfdb;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin: auto;
}

.card .delete-btn {
    position: relative;
    text-align: center;
}

.card .delete-btn .button {
    position: absolute;
    width: auto;
    height: auto;
    right: 20px;
}

.card .title {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    left: 10px;
}

.card .description {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    left: 20px;
}